@import 'tailwindcss';

@font-face {
	font-family: 'Recursive';
	font-style: normal;
	font-weight: 1000;
	src: url('/fonts/Recursive.ttf');
}

@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	themes: cycles-light --default, dark --prefersdark;
}


@plugin "daisyui/theme" {
	name: "cycles-light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(20% 0 0);
	--color-primary: oklch(82% 0.119 306.383);
	--color-primary-content: oklch(29% 0.149 302.717);
	--color-secondary: oklch(87% 0.15 154.449);
	--color-secondary-content: oklch(26% 0.065 152.934);
	--color-accent: oklch(89% 0.196 126.665);
	--color-accent-content: oklch(27% 0.072 132.109);
	--color-neutral: oklch(37% 0 0);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(60% 0.126 221.723);
	--color-info-content: oklch(98% 0.019 200.873);
	--color-success: oklch(64% 0.2 131.684);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(70% 0.213 47.604);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(55% 0.195 38.402);
	--color-error-content: oklch(98% 0.016 73.684);
	--radius-selector: 2rem;
	--radius-field: 1rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}


@plugin "daisyui/theme" {
	name: "cycles-dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(26% 0.007 34.298);
	--color-base-200: oklch(37% 0.01 67.558);
	--color-base-300: oklch(44% 0.011 73.639);
	--color-base-content: oklch(98% 0.001 106.423);
	--color-primary: oklch(97% 0.071 103.193);
	--color-primary-content: oklch(28% 0.066 53.813);
	--color-secondary: oklch(93% 0.032 255.585);
	--color-secondary-content: oklch(26% 0.065 152.934);
	--color-accent: oklch(89% 0.196 126.665);
	--color-accent-content: oklch(27% 0.072 132.109);
	--color-neutral: oklch(14% 0.004 49.25);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(60% 0.126 221.723);
	--color-info-content: oklch(98% 0.019 200.873);
	--color-success: oklch(76% 0.233 130.85);
	--color-success-content: oklch(27% 0.072 132.109);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(55% 0.195 38.402);
	--color-error-content: oklch(98% 0.016 73.684);
	--radius-selector: 2rem;
	--radius-field: 1rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('/Fonts/TASA-Explorer.woff2') format('woff2');
}

@theme cycles {
	--font-sans: Monaspace Radon;
	--font-count: Recursive;
}
