@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	themes: cupcake --default, dracula --prefersdark;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Inter-Regular.woff2') format('woff2');
}
